;###############################################################################
;# PHP
;###############################################################################
;# PHP_COMMMAND contiene la ruta completa al binario PHP
;# ej: PHP_COMMAND = "/usr/bin/php73"
PHP_COMMAND = "/usr/bin/php73"

;###############################################################################
;# WEB SERVER
;###############################################################################
;# WEB_SERVER contiene alguno de los valores: "nginx", "apache" (por defecto)
;# ej: WEB_SERVER = "apache"
WEB_SERVER = "apache"

;# APP_ENVIROMENT indicará el entorno en el que se está ejecutando la aplicación,
;# hay 3 entornos por el momento: "develop", "preproduction" o "production"
APP_ENVIROMENT = "production"

;# APP_URL contendrá la URL de panel
;# ej: APP_URL = "https://www.webpremium.eu"
APP_URL = "https://www.webpremium.eu"

;# WS_URL contendrá la URL del webservice al que consultar
;# ej: WS_URL = "https://webservice.infolot.es"
WS_URL = 'https://webservice.infolot.es'

;# BL_URL contendrá la URL de la web de BUSCARLOTERIA
;# ej: BL_URL = "https://panel.buscarloteria.com"
BL_URL = "https://www.buscarloteria.com"

;###############################################################################
;# REDIS
;###############################################################################
REDIS_HOST = ""
REDIS_PORT = ""
REDIS_PASS = ""

;###############################################################################
;# COMMAND
;###############################################################################
;# Variables que controlaran qué partes se sincronizan cuando se suben cambios
;# al repositorio GIT

;# COMMAND_ECHO indica si mostrar mensajes por pantalla
;# (default: 0)
COMMAND_ECHO = 0;

;# COMMAND_LOGGING indica si registrar log de acciones
;# (default: 1)
COMMAND_LOGGING = 1;

;# COMMAND_MIGRATIONS indica si ejecutar las migraciones
;# (default: 0)
COMMAND_MIGRATIONS = 0;

;# COMMAND_CACHE indica si limpiar el cache de la aplicación
;# (default: 0)
COMMAND_CACHE = 0;

;# COMMAND_WEBSOCKETS indica si reiniciar el servidor de websockets
;# (default: 0)
COMMAND_WEBSOCKETS = 0;

;# COMMAND_TOUCHCOMMIT indica si hacer touch sobre command.lck para actualizar la fecha.
;# Esto nos permite mostrar en el panel la fecha en la que se recibió el último commit
;# (default: 1)
COMMAND_TOUCHCOMMIT = 1;

;###############################################################################
;# MANTENIMIENTO
;###############################################################################
;# Bloquea todas las peticiones al ws y redirige todas las urls a una vista de mantenimiento
;# (default: 0)
MAINTENANCE_ENABLED = 0;

;###############################################################################
;# Plantillas
;###############################################################################
;# Indica el directorio base de las plantillas, si es una ruta relativa se cuenta desde Webpremium/public
;# (default: '../../WebPremium-templates/')
CUSTOM_TEMPLATES_DIRECTORY = '../../WebPremium-templates/';